<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Clase</title>
</head>
<body>
    <h2>Programar Nueva Clase</h2>
    <form method="POST">
        <label>Sede (Shala):</label>
        <select name="shala_id" required>
            <option value="">Selecciona la sede...</option>
            {% for shala in shalas %}
                <option value="{{ shala.id }}">{{ shala.nombre }} ({{ shala.direccion }})</option>
            {% endfor %}
        </select><br><br>

        <label>Instructor que dará la clase:</label>
        <select name="instructor_id" required>
            <option value="">Selecciona al instructor...</option>
            {% for profe in instructores %}
                <option value="{{ profe.id }}">{{ profe.nombre }}</option>
            {% endfor %}
        </select><br><br>
        <label>Título:</label> <input type="text" name="titulo" required><br><br>
        <label>Descripción:</label> <textarea name="descripcion"></textarea><br><br>
        <label>Fecha:</label> <input type="datetime-local" name="fecha_hora" required><br><br>
        <label>Duración (min):</label> <input type="number" name="duracion" value="60"><br><br>
        <label>Cupos:</label> <input type="number" name="capacidad" value="10"><br><br>
        
        <label>Modalidad:</label>
        <select name="modalidad">
            <option value="PRESENCIAL">Presencial</option>
            <option value="ONLINE">Online</option>
        </select><br><br>
        
        <label>Link (Online):</label> <input type="text" name="room_link"><br><br>
        
        <button type="submit">Guardar Clase</button>
    </form>
</body>
</html>